@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  color: #ddd;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  background-color: #050505;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0;
}

/* ---------------------- HEADER ---------------------- */
.header {
  margin: 0;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

.logo {
  font-family: 'Open Sans';
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.logo:hover {
  opacity: 0.7;
}

.icon {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  cursor: pointer;
}

.span1 {
  position: absolute;
  top: 15px;
  right: 0;
  width: 20px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.span2 {
  position: absolute;
  top: 15px;
  right: 0;
  width: 30px;
  border: 1px solid #ddd;
  margin-top: 5px;
  transition: 0.3s;
}

.icon:hover .span1 {
  width: 30px;
}

.icon:hover .span2 {
  width: 20px;
}

/* ---------------------- HOME ---------------------- */
.home {
  margin: 20px;
  padding: 20px;
  height: 100vh;
}

.dot {
  background-image: url(/static/pattern-dot-grid.svg);
  background-size: 25px 25px;
  opacity: 0.15;
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 30%;
}

.pic {
  background-color: #02182c;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(/static/background.jpg);
  background-size: cover;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 50%;
  animation-delay: 0.2s;
  animation-duration: 1.5s;
  animation-name: moveRight;
  border-top-left-radius: 50px;
}

.pic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cf1767;
  opacity: 0.2;
  border-top-left-radius: 50px;
}

.shadowOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.63) 0%, black 5%);
  border-top-left-radius: 50px;
}

.subContenedorHome {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px 10px;
  padding: 25px 40px;
  position: relative;
}

.subContenedorHomeLetras {
  display: flex;
  flex-direction: column;
}

.welcome {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 42px;
  letter-spacing: 10px;
  margin: 0;
  animation-duration: 1.5s;
  animation-name: moveLeft;
}

.introScroll {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-name: moveLeft;
}

.introScrollLink {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
  padding-right: 5rem;
  font-size: 10px;
  cursor: pointer;
}

.introScrollLink::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 50%;
  margin-left: 20px;
  height: 1px;
  width: 40px;
  background-color: tomato;
}

.introScrollLink:hover {
  opacity: 0.7;
}

/* ---------------------- ABOUT ---------------------- */
.about {
  margin: 20px;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about p {
  margin-left: 40px;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 42px;
  color: tomato;
}

/* ---------------------- WORK ---------------------- */
.work {
  margin: 20px;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.work p {
  display: block;
  margin-top: 10vh;
  margin-left: 40px;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 16px;
  color: tomato;
}

.contentWork {
  margin: 0;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-content: center;
  -webkit-align-content: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.card {
  margin: 20px;
  height: 240px;
  width: 230px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.434), 8px 3px 6px rgba(0, 0, 0, 0.712);
}

.card:hover {
  transform: scale(1.1);
  opacity: 1;
}

.card div {
  background-color: #050505a3;
  padding-bottom: 10px;
  width: 100%;
  height: 60px;
  padding: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card div span {
  font-family: 'Open Sans';
  font-weight: bold;
  color: rgb(255, 255, 255);
}

@media all and (max-width: 500px) {
  .contentWork {
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
  }
}

/* ---------------------- ANIMACIONES ---------------------- */

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* ---------------------- RESPONSIVE ---------------------- */

@media screen and (max-width: 600px) {
  .welcome {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .welcome {
    font-size: 24px;
    letter-spacing: 7px;
  }
}

@media screen and (max-width: 400px) {
  .welcome {
    font-size: 20px;
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 350px) {
  .welcome {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 300px) {
  .welcome {
    font-size: 12px;
    letter-spacing: 0px;
  }
}
