*,
::before,
::after {
  color: white;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #050505;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Libre Baskerville', serif;
}

::-webkit-scrollbar {
  width: 0;
}

/* ---------------------- HEADER ---------------------- */
.header {
  margin: 0;
  width: 100%;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.logo:hover {
  opacity: 0.7;
}

.icon {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  cursor: pointer;
}

.span1 {
  position: absolute;
  top: 15px;
  right: 0;
  width: 20px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.span2 {
  position: absolute;
  top: 15px;
  right: 0;
  width: 30px;
  border: 1px solid #ddd;
  margin-top: 5px;
  transition: 0.3s;
}

.icon:hover .span1 {
  width: 30px;
}

.icon:hover .span2 {
  width: 20px;
}

.span1active {
  position: absolute;
  top: 15px;
  right: 0;
  width: 30px;
  border: 1px solid #ddd;
  transform: rotate(45deg);
  transition: 0.3s;
}

.span2active {
  position: absolute;
  top: 15px;
  right: 0;
  width: 30px;
  border: 1px solid #ddd;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.icon:hover .span1active {
  background: linear-gradient(to right, #ff8a00 30%, red 55%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

.icon:hover .span2active {
  background: linear-gradient(to right, #ff8a00 30%, red 55%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

/* ---------------- menu -------------- */
.menu {
  position: fixed;
  z-index: -20;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #050505e7;
}

.menu div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  display: block;
  overflow: hidden;
  font-family: 'Advent Pro', sans-serif;
  text-decoration: none;
  font-size: 28px;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 10px;
  animation-name: moveLeft;
  animation-duration: 1.5s;
  color: white;
  transition: all 0.5s;
  position: relative;
}

.link2 {
  display: block;
  overflow: hidden;
  font-family: 'Advent Pro', sans-serif;
  text-decoration: none;
  font-size: 28px;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 10px;
  animation-name: moveRight;
  animation-duration: 1.5s;
  color: white;
  transition: all 0.5s ease;
  position: relative;
}

.link::before,
.link2::before {
  content: '';
  transition: all 0.5s ease;
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(204, 17, 4, 0.719) 1px,
    rgba(26, 25, 23, 0.4) 60%
  );
  opacity: 0.8;
  top: 50%;
  left: 50%;
  z-index: -2;
  transition: all 0.5s ease;
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.link:hover::before,
.link2:hover::before {
  height: 80%;
}

/* ---------------------- HOME ---------------------- */
.home {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot {
  position: absolute;
  background: url(/static/background.jpg);
  background-repeat: no-repeat;
  -webkit-background-repeat: no-repeat;
  -ms-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-position: center center;
  -ms-background-position: center center;
  -moz-background-position: center center;
  -o-background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.1;
}

.subContenedorHomeLetras {
  position: sticky;
  position: -webkit-sticky;
  top: 40px;
  display: flex;
  flex-direction: column;
}

.welcome {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 72px;
  margin: 0;
  animation-duration: 1.5s;
  animation-name: moveLeft;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: moveLeft;
}

.introScroll {
  margin-top: 30px;
  align-self: center;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-name: moveBottom;

  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: moveBottom;
}

/* ---------------------- ABOUT ---------------------- */
.about {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about .imageBackground {
  background: url(/static/background.png);
  background-repeat: no-repeat;
  -webkit-background-repeat: no-repeat;
  -ms-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-position: center center;
  -ms-background-position: center center;
  -moz-background-position: center center;
  -o-background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.1;
}

.about p {
  margin-left: 100px;
  margin-right: 40px;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 100;
  font-size: 40px;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .goWorkContainer {
  position: sticky;
  position: -webkit-sticky;
  top: 40px;
  bottom: 0;
  margin-right: 50px;
  height: 100px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

/* ---------------------- WORK ---------------------- */
.work {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  background: #050505;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  -webkit-display: flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
  -webkit-align-items: flex-start;

  -ms-display: flex;
  -ms-flex-direction: column;
  -ms-justify-content: flex-start;
  -ms-align-items: flex-start;

  border-radius: 10px;
}

.work p {
  margin-top: 10vh;
  margin-left: 40px;
  font-weight: 100;
  font-size: 16px;
  font-family: 'Advent Pro', sans-serif;
  color: rgba(187, 185, 184, 0.7);
}

.contentWork {
  margin: 0;
  margin-top: 10px;
  padding: 20px;

  display: flex;
  -webkit-display: flex;
  -ms-display: flex;

  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;

  justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;

  align-content: center;
  -webkit-align-content: center;
  -ms-align-content: center;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.card {
  margin: 20px;
  height: 240px;
  width: 230px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  -webkit-display: flex;
  -webkit-justify-content: center;
  -webkit-align-items: flex-end;
  -ms-display: flex;
  -ms-justify-content: center;
  -ms-align-items: flex-end;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  transition-property: opacity, box-shadow;
  transition-delay: 0.5s, 0;
  transition-duration: 0.5s, 0.5s;
}

.card:hover {
  opacity: 1;
  box-shadow: 0 0 50px 1px rgba(90, 89, 89, 0.351);
  transition-property: opacity, box-shadow;
  transition-delay: 0.5s, 0;
  transition-duration: 0.5s, 0.5s;
}

.card div {
  background-color: #050505a3;
  padding-bottom: 10px;
  width: 100%;
  height: 60px;
  padding: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card div span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

/* ------------------------ CONTACT ------------------------ */

.contact {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contact .imageBackground {
  background: url(/static/background2.png);
  background-repeat: no-repeat;
  -webkit-background-repeat: no-repeat;
  -ms-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-position: center center;
  -ms-background-position: center center;
  -moz-background-position: center center;
  -o-background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.2;
}

.contact a {
  margin: 10px;
  height: 180px;
  width: 170px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #ffffff;
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5em 1em;
  outline: none;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

.contact a::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #050505;
  transform-origin: center;
  transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

.contact a img {
  margin-bottom: 1px;
  width: 50px;
  height: 50px;
}

.contact a span {
  display: block;
  font-family: 'Advent Pro', sans-serif;
  font-size: 30px;
  font-weight: 100;
}

.contact a:hover::before {
  transform: translate3d(50%, -50%, 0) scale3d(30, 30, 30);
}

/* ---------------------- ANIMACIONES ---------------------- */

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ---------------------- RESPONSIVE ---------------------- */

@media screen and (max-width: 600px) {
  .work {
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
  }

  .contentWork {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
  }

  .contact {
    flex-direction: column;
  }

  .about p {
    margin-left: 40px;
    font-weight: 100;
    font-size: 26px;
  }

  .about span {
    margin-left: 10px;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 2px;
  }

  .welcome {
    font-size: 28px;
  }

  .contact a {
    height: 140px;
    width: 130px;
  }

}

@media screen and (max-width: 500px) {
  .about p {
    margin-left: 40px;
    font-weight: 100;
    font-size: 26px;
  }

  .about span {
    margin-left: 10px;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 2px;
  }

  .welcome {
    font-size: 24px;
    letter-spacing: 7px;
  }
}

@media screen and (max-width: 400px) {
  .welcome {
    font-size: 20px;
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 350px) {
  .welcome {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 300px) {
  .welcome {
    font-size: 12px;
    letter-spacing: 0px;
  }
}

/*  ???????????????????????????????????????????????????  */

@-webkit-keyframes chevron-pulse {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes chevron-pulse {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.tcon_svgchevron {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.tcon_svgchevron path {
  -webkit-animation: chevron-pulse 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
  animation: chevron-pulse 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 1px;
}

.tcon_svgchevron path.a1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.tcon_svgchevron path.a2 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.tcon_svgchevron path.a3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
