*,
::before,
::after {
  color: white;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #050505;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
}

body::-webkit-scrollbar {
  width: 0;
}

/* ---------------------- HEADER ---------------------- */
.header {
  margin: 0;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.logo:hover {
  opacity: 0.7;
}

.icon {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  cursor: pointer;
}

.span1 {
  position: absolute;
  top: 15px;
  right: 0;
  width: 20px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.span2 {
  position: absolute;
  top: 15px;
  right: 0;
  width: 30px;
  border: 1px solid #ddd;
  margin-top: 5px;
  transition: 0.3s;
}

.icon:hover .span1 {
  width: 30px;
}

.icon:hover .span2 {
  width: 20px;
}

.span1active {
  position: absolute;
  top: 15px;
  right: 0;
  width: 30px;
  border: 1px solid #ddd;
  transform: rotate(45deg);
  transition: 0.3s;
}

.span2active {
  position: absolute;
  top: 15px;
  right: 0;
  width: 30px;
  border: 1px solid #ddd;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.icon:hover .span1active {
  background: linear-gradient(to right, #ff8a00 30%, red 55%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

.icon:hover .span2active {
  background: linear-gradient(to right, #ff8a00 30%, red 55%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

/* ----------   menu    ---------- */
.menu {
  position: fixed;
  z-index: -20;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #050505e7;
}

.link {
  align-self: flex-end;
  font-family: 'Advent Pro', sans-serif;
  text-decoration: none;
  font-size: 28px;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 0;
  margin-right: 20px;
  padding: 5px 0px 0 20px;
  animation-name: moveLeft;
  animation-duration: 1.5s;
  background: linear-gradient(
    to right,
    #e6e1e1 30%,
    rgb(197, 183, 183) 55%,
    #382b2b 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;
  position: relative;
}

.link2 {
  align-self: flex-end;
  font-family: 'Advent Pro', sans-serif;
  text-decoration: none;
  font-size: 28px;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 0;
  margin-right: 20px;
  padding: 5px 0px 0 20px;
  animation-name: moveRight;
  animation-duration: 1.5s;
  background: linear-gradient(
    to right,
    #e6e1e1 30%,
    rgb(197, 183, 183) 55%,
    #382b2b 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;

}

.link:hover::after,
.link2:hover::after  {
  content: '<';
  height: 1px;
  width: 100%;
  transition: 0.5s;
  margin-left: 10px;
}


/* ---------------------- HOME ---------------------- */
.home {
  margin: 0 0 0 30px;
  padding: 20px;
  height: 100vh;
}

.dot {
  background-image: url(/static/pattern-dot-grid.svg);
  background-size: 8px 10px;
  opacity: 0.3;
  position: absolute;
  top: 30%;
  left: 40%;
  right: 10%;
  bottom: 30%;
  border-top-right-radius: 50px;
}

.shadowOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: radial-gradient(
    circle,
    rgba(204, 17, 4, 0.719) 1px,
    rgba(26, 25, 23, 0.4) 60%
  );
}

.subContenedorHome {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px 10px;
  padding: 25px 40px;
  position: relative;
}

.subContenedorHomeLetras {
  display: flex;
  flex-direction: column;
}

.welcome {
  font-family: 'Oswald', sans-serif;
  font-size: 42px;
  letter-spacing: 10px;
  margin: 0;
  animation-duration: 1.5s;
  animation-name: moveLeft;
}

.introScroll {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-name: moveLeft;
}

.introScrollLink {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
  padding-right: 5rem;
  font-size: 10px;
  cursor: pointer;
}

.introScrollLink::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 50%;
  margin-left: 20px;
  height: 1px;
  width: 40px;
  background: linear-gradient(
    to right,
    #2b0303 30%,
    rgb(41, 8, 8) 55%,
    #0a0000 100%
  );
}

.introScrollLink:hover {
  opacity: 0.7;
}

/* ---------------------- ABOUT ---------------------- */
.about {
  margin: 0px;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #050505;
  background-repeat: no-repeat;
}

.about p {
  margin-left: 40px;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 42px;
  /* background: linear-gradient(to right, #ff8a00 30%, red 55%, #330867 100%); */
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about span {
  margin-left: 10px;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 8px;
  background: linear-gradient(
    to right,
    rgb(215, 223, 223) 0%,
    #30cfd0 33%,
    #330867 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .goWorkContainer {
  position: sticky;
  top: 90vh;
  right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
  transition: 0.7s;
}

.about .goWorkContainer:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

.about .goWorkContainer .goWork {
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 16px;
  background: linear-gradient(to right, #ff8a00 30%, red 55%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .goWorkContainer .arrow {
  display: block;
  font-size: 48px;
  /* background: linear-gradient(to right, #ff8a00 30%, red 55%, #330867 100%); */
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
}

/* ---------------------- WORK ---------------------- */
.work {
  margin: 0px;
  padding: 20px;
  max-width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  -webkit-display: flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
  -webkit-align-items: flex-start;

  -ms-display: flex;
  -ms-flex-direction: column;
  -ms-justify-content: flex-start;
  -ms-align-items: flex-start;

}

.work p {
  display: block;
  margin-top: 10vh;
  margin-left: 40px;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 16px;
  color: tomato;
}

.contentWork {
  margin: 0;
  margin-top: 10px;
  padding: 20px;

  display: flex;
  -webkit-display: flex;
  -ms-display: flex;

  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;

  justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;

  align-content: center;
  -webkit-align-content: center;
  -ms-align-content: center;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.card {
  margin: 20px;
  height: 240px;
  width: 230px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  -webkit-display: flex;
  -webkit-justify-content: center;
  -webkit-align-items: flex-end;
  -ms-display: flex;
  -ms-justify-content: center;
  -ms-align-items: flex-end;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  transition-property: opacity, box-shadow;
  transition-delay: 1s, 0;
  transition-duration: 1s, 1s;
}

.card:hover {
  opacity: 1;
  box-shadow: 0 0 50px 1px rgba(90, 89, 89, 0.351);
  transition-property: opacity, box-shadow;
  transition-delay: 1s, 0;
  transition-duration: 1s, 1s;
}

.card div {
  background-color: #050505a3;
  padding-bottom: 10px;
  width: 100%;
  height: 60px;
  padding: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card div span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

/* ------------------------ CONTACT ------------------------ */

.contact {
  margin: 20px;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: right;
}

.contact span {
  display: block;
  margin-top: 10vh;
  margin-left: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: tomato;
}

.contact p {
  position: relative;
  height: 80px;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.055);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 50px;
  margin-left: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 8px;
  color: #fff;
  background: linear-gradient(
    to right,
    rgb(215, 223, 223) 0%,
    #30cfd0 33%,
    #330867 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
  cursor: pointer;
}

.contact p:hover {
  transform: scale(1.1);
  transition: 1s;
}

/* ---------------------- ANIMACIONES ---------------------- */

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* ---------------------- RESPONSIVE ---------------------- */

@media screen and (max-width: 600px) {
  .work {
    align-items: center;
  }

  .contentWork {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
  }

  .about p {
    margin-left: 40px;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 26px;
  }

  .about span {
    margin-left: 10px;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 2px;
  }

  .about .goWorkContainer {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    cursor: pointer;
  }

  .about .goWorkContainer .goWork {
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 12px;
  }

  .about .goWorkContainer .arrow {
    font-size: 36px;
  }

  .welcome {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .work {
    align-items: center;
  }

  .contentWork {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
  }

  .about p {
    margin-left: 40px;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 26px;
  }

  .about span {
    margin-left: 10px;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 2px;
  }

  .about .goWorkContainer {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    cursor: pointer;
  }

  .about .goWorkContainer .goWork {
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 12px;
  }

  .about .goWorkContainer .arrow {
    font-size: 36px;
  }

  .welcome {
    font-size: 24px;
    letter-spacing: 7px;
  }
}

@media screen and (max-width: 400px) {
  .welcome {
    font-size: 20px;
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 350px) {
  .welcome {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 300px) {
  .welcome {
    font-size: 12px;
    letter-spacing: 0px;
  }
}
